*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Droid Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
}

h1, .title-1 { font-size : 3.2rem; }
h2, .title-2 { font-size : 2.8rem; }
h3, .title-3 { font-size : 2.4rem; }
h4, .title-4 { font-size : 2.0rem; }
h5, .title-5 { font-size : 1.8rem; }
h6, .title-6 { font-size : 1.6rem; }

header {
    position: fixed;
    top: -22px;
    left: -30px;
    right: 0;
    background-color: white;
    background-color: #004358;
    color: black;
    height: 92px;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    transform: rotate(-2deg);
    font-family: 'Abel', sans-serif;
}

header > nav {
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 24px;
    padding-top: 32px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    /* transform: rotate(3deg); */
}

header > nav > * {
    margin: 2px;
    text-decoration: none;
    color: #FFF;
    padding: 8px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

header > nav > div > div {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
    top: 48px;
    left: 6px;
    right: -200px;
    background-color: #004358;
    transition: all 0.18s ease;
    padding: 8px;
    text-align: left;
}

header > nav > div > div > a {
    display: block;
    margin: 6px;
    color: white;
    text-decoration: none;
    font-weight: 400;
}

header > nav > div:hover > div {
    opacity: 1.0;
    transform: scaleY(1.0);
}

header > nav a {
    transition: all 0.18s ease;
}

header > nav a:hover {
    color: #F5822C;
}



main {
    flex: 1;
}

main > .cover {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    height: 100vh;
}


main > .cover > img {
    margin: auto;
    width: 280px;
    z-index: 999;
}

main > .cover > .countdown {
    margin: auto;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}

main > .cover > .countdown > h2 {
    margin: 12px;
    color: white;
}

main > .cover > .darrow {
    z-index: 999;
    margin: auto;
    border-radius: 50%;
    font-size: 150%;
    border: 0 solid black;
    background-color: #BEDB39;
    color: #F5822C;
    transition: all 0.5s ease;
    text-align: center;
    width: 48px;
    height: 48px;
    display: flex;
    text-decoration: none;
    opacity: 0.7;
}

main > .cover > .darrow:hover {
    transform: rotate(360deg);
    opacity: 1.0;
    color: black;
    background-color: white;
}

main > .cover > .darrow > i {
    margin: auto;
}

main > .cover > .landing {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

main > .cover > .cover-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    transition: all 1.5s ease;
    z-index: 0;
}

main > .cover > .tone {
    /* background-color: rgba(88, 143, 39, 0.7); */
    background-color: rgba(31, 138, 112, 0.7);
    z-index: 1;
}


#registration-content,
#teaser-content {
    background-color: #FD7400;
    position: relative;
    color: white;
}
#registration-content > .oblique,
#teaser-content > .oblique {
    z-index: 2;
    background-color: #FD7400;
    position: absolute;
    top: -28px;
    left: 0; right: 0;
    height: 64px;
    transform: rotate(2deg);
}
#registration-content > .under-oblique,
#teaser-content > .under-oblique {
    padding: 32px;
    padding-top: 64px;
    width: 75%;
    margin: auto;
}

#registration-content > .under-oblique {
    display: flex;
    flex-direction: row;
}

#registration-content > .under-oblique > div:nth-child(1) {
    align-self: flex-start;
    flex: 1;
}

#registration-content > .under-oblique > div:nth-child(2) {
    align-self: flex-end;
    flex: 1;
    text-align: right;
}


h2 {
    margin: 0;
}

#registration-content h2 {
    font-size: 110%;
    text-align: center;
}

.teaser {
    position: relative;
    margin-bottom: 150px;
}

.teaser-ytb {
    width: 560px;
    height: 315px;
}

.teaser > div {
    background-color: #F99749;
    position: absolute;
    top: 70%;  left: 45%; right: 0;
    padding: 24px;
    border-radius: 12px;
}

.clock {
    font-family: 'Abel', sans-serif;
}

#countdown {
    transition: all 0.5s ease;
}


#ticket-content {
    background-color: #FFF;
    position: relative;
    color: #004358;
}

#ticket-content > .oblique {
    z-index: 2;
    background-color: #FFF;
    position: absolute;
    top: -28px;
    left: 0; right: 0;
    height: 64px;
    transform: rotate(-2deg);
}

#ticket-content > .under-oblique {
    padding: 32px;
    padding-top: 64px;
    width: 75%;
    margin: auto;
}

#ticket-content h2 {
    text-align: right;
}

#ticket-content .subtitle {
    text-align: right;
    font-family: 'Abel', sans-serif;
}


.tickets-choice {
    margin-top: 72px;
    margin-bottom: 124px;
    display: flex;
    justify-content: space-between;
}

.tickets-choice > div {
    /* background-color: red; */
    text-align: center;
}

.tickets-choice > div > h3 {
    font-size: 100px;
    margin: 24px;
    background-color: #004358;
    color: white;
    width: 120px;
    text-align: center;
    height: 120px;
    border-radius: 50%;
    padding: 4px;
    border: 12px solid #1F8A70;
}

.tickets-choice > div > h4 {
    font-family: 'Abel', sans-serif;
    text-align: center;
    margin: 0;
}

.tickets-choice > div > h5 {
    margin: 0;
    font-size: 90%;
}
